body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

form {
  margin: 20px auto;
  padding: 20px;
  background: white;
  border: 1px solid #ddd;
  max-width: 400px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#results {
  margin-top: 20px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.gray{
  margin-right: 1200px;
}

.conversor{
  margin-top: -280px;
}

.calculadora{
  margin-left: 1200px;
  margin-top: -500px;
}